#########################################
# OpenMU Game Server Configuration File #
#########################################

# DataBase UserName (Default: postgres)
DB_USER = postgres
# DataBase Password (Default: blank)
DB_PASS = 

# GameServer IP (Default: 0 = inet_address)
gs.ip = 0
# GameServer Port (Default: 55901)
gs.port = 55901

# Player visibility refers to the number of blocks away from
# player's own block in which he can see objects. Blocks are
# made of 5x5 normal squares. (Default: 1 - for debugging)
gs.playerVisibility = 1
